#login, #register_form {
    margin: 20px auto;
    width: 400px;
    padding: 30px 25px;
    background: white;
    border: 1px solid #c4c4c4;
  }
  
   #email, #pw, #reg_email, #pwd{
    width: 285px;
    height: 50px;
    margin-bottom: 25px;
    padding-left:10px;
    font-size: 15px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #login:focus {
      border-color:#6e8095;
      outline: none;
    }
  #submit_button {
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
    outline:0;
  }
  
  #sign_in
  {
    text-align:center;
    margin-bottom:0px;
  }
  
  #sign_in 
  {
    color:#666;
    text-decoration:none;
    font-size:13px;
  }
  
  
.btn-edt{
    margin:10px !important;
    margin-right: 2px;
    border-radius:2px;
    background-color: black;
    color: white;
    padding: 8px;
  }
